standby_mode = 'on'
primary_conninfo = 'host={{hostvars['master']['ansible_eth1']['ipv4']['address']}} port=5432 user=replicator password=password sslmode=require'
trigger_file = '/tmp/postgresql.trigger'